.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 30px;
    z-index: 1000; 
    transition: background-color 0.3s; 
   
  }
  
  .navbar-scrolled {
    background-color: white; 
    color: #333; 
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    margin-right: 200px;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    color: inherit; /* Inherit color from navbar */
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  